.signup-page, .login-page{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #616161;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #9bc5c3, #616161);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #9bc5c3, #616161); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.signup-form, .login-form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 350px;
    height: 300px;
    gap: 15px;
    border-radius: 8px;
    border: 2px solid  white;
}
.sign-up, .login {
    color: black;
}
::placeholder{
    color: black;
}


#email, #password, #username {
    border: none;
    border-bottom: 1px solid black;
    outline: none;    
    font-size: 14px;
    padding: 10px;
    background: transparent;
    color: black;
}
.signup-btn,.login-btn{
    border: none;
    margin-top: 10px;
    border-radius: 3px;
    padding: 12px;
    cursor: pointer;
    color: black;
    background: transparent;
    border: 1px solid black;
    font-size: 15px;
}
.account-availability {
    color: black;
    text-align: center;
}
.account-availability a {
    text-decoration : none;
    color: red;
}