.window {
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    width: 100px;
    justify-content: space-between;
    color:  rgb(254, 254, 235);
    cursor: pointer ;   
     
}


.current-tab {
    display: flex;
    align-items: center;
    padding-left: 12px;
    padding-right: 12px;
    width: 100px;
    justify-content: space-between;
    cursor: pointer ;
    background: red;
    color:  #223e5b;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.close-btn{
    display: flex;
    align-items: center;
    color:  rgb(255, 255, 201);
}